html,
body {
    background-color: black !important;
}

#container1 {
    text-align: center;
    animation: fadein 2s linear 1;
    /* animation: grow 2s linear 1; */
}

#container2 {
    text-align: center;
    /* animation: spin 2s linear 1; */
}

@keyframes grow {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

a:link,
a:visited,
a:hover,
a:active {
    color: white;
    text-decoration: none;
}

.underline,
a.underline:link,
a.underline:visited,
a.underline:hover,
a.underline:active {
    text-underline-offset: 10px;
    text-decoration: wavy underline;
    text-decoration-color: red;
    -webkit-text-decoration: wavy underline;
    -webkit-text-decoration-color: red;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1em;
    color: white;
    text-decoration: none;
}

body {
    background-color: black;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
}

#WebGames {
    /* border-radius: 8px; */
    color: white;
    text-decoration: none;
    background-color: #2d2d2d;
    text-align: center;
}

.img-rounded {
    border-radius: 8px;
    border: 0;
    text-decoration: none;
    outline: none;
}

table {
    table-layout: fixed;
    width: 575px;
    /* height: 200px; */
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */
}

td {
    text-align: center;
}

.td-div {
    height: 15px;
}

/* Desktop */
@media screen and (min-width: 992px) {

    .Desktop {
        display: block;
    }

    .Mobile {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 992px) {

    .Desktop {
        display: none;
    }

    .Mobile {
        display: block;
    }
}